extends layout
block selfCSSfile
link(rel='stylesheet', href='/javascripts/func/bootstrap/css/bootstrap.css')
block selfJSfile
script(type="text/javascript",src="/javascripts/func/index.js")
block content
    div#state
    div#storyList
    div#map


