link(rel="stylesheet" href="/javascripts/lib/fontello/css/fontello.css")
link(rel="stylesheet" href="/javascripts/lib/fontello/css/animation.css")
<!--[if IE 7]>
link(rel="stylesheet" href="/javascripts/lib/fontello/css/fontello-ie7.css")
<![endif]-->
script(type="text/javascript")
    function toggleCodes(on) {
        var obj = document.getElementById('icons');
        if(on) {obj.className += ' codesOn';}else {obj.className = obj.className.replace(' codesOn', '');}
    }
link(rel='stylesheet', href='/stylesheets/reset.css')
link(rel='stylesheet', href='/stylesheets/common.css')

script(type="text/javascript",src="/javascripts/lib/jquery/jquery-1.9.1.js")
script(type="text/javascript",src="/javascripts/func/component.js")
script(type="text/javascript",src="/javascripts/func/common.js")
