.rounded-corners(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.border(@border-size:1px;@border-color:#F2F2F2){
    border:solid @border-size @border-color;
}
.btn{
    text-align: center;
    display: inline-block;
    width:60px;
    height:30px;
    line-height:30px;
    position: relative;
    border: 1px solid #a0a0a0;
    cursor:pointer;
    .rounded-corners;
    &:hover{
        background-color:#F2F2F2;
    }
}
#act-form{
    width:900px;
    margin:auto auto;
    padding:10px 0;
}
.form{
    .rounded-corners;
    font-size:0.8em;
    background-color:#FFF;
    position:relative;
    .rows(@rows-width:800px){
        position:relative;
        left:50%;
        width:@rows-width;
        margin-left:-@rows-width/2;
    }

    .form-header{
        .rows;
        height:60px;
        font-size:1.5em;
        .left-right{
            position:absolute;
            line-height:40px;
            height:40px;
        }
        .left{
            .left-right;
            top:0px;
        }
        .right{
            .left-right;
            right:10px;
            font-size:0.5em;
            font-style:italic;
        }
    }
    .form-body{
        .rows(800px);
        border-top:1px solid #F2F2F2;
        border-bottom:1px solid #F2F2F2;
        .group{
            margin: 0 20px;
            height:60px;
            line-height:60px;
            label{
                text-align:right;
                display:inline-block;
                width:60px;
                margin-right:10px;
            }
            input{
                width:240px;
            }
        }
        .border-bottom{
            border-bottom:solid 1px #f2f2f2;
        }
    }
    .form-footer{
        .rows;
        margin-top:5px;
        height:60px;
        line-height: 60px;
        .btns{
            position:absolute;
            right:10px;
        }
        span{
            margin-left:10px;
        }
    }
}
.activity-list{
    width:80%;
    margin:auto;
    li{
        .rounded-corners;
        padding:5px;
        height:120px;
        margin-bottom:15px;
        background-color: #afd7db;
        .activity-info-top{
            height:50%;
        }
        .activity-name,.activity-time,.activity-address{
            height:40px;
            display:inline-block;
            line-height:40px;
            font-size:16px;
        }
        .activity-remark{
            font-size:16px;
        }
    }
}