.rounded-corners(@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}
.border(@border-size:1px;@border-color:#000){
    border:solid @border-size @border-color;
}
#act-form{
    width:900px;
    margin:auto auto;
    background-color:#5890AD;
    padding:10px 0;
}
.form{
    .rounded-corners;
    font-size:0.8em;
    background-color:#FFF;
    position:relative;
    .rows(@rows-width:800px){
        position:relative;
        left:50%;
        width:@rows-width;
        margin-left:-@rows-width/2;
    }

    .form-header{
        .rows;
        height:40px;
        font-size:1.5em;
        .left-right{
            position:absolute;
            line-height:40px;
            height:40px;
        }
        .left{
            .left-right;
            top:0px;
        }
        .right{
            .left-right;
            right:10px;
        }
    }
    .group{
        background-color: #f7ffc8;
    }
    .form-body{

    }
    .form-footer{
        .rows;
    }
}