html{
    height:100%;
}
body{
    padding-top:60px;
    background:repeat #edece9;
}
div{
    display:block;
}

#topbar{
    box-shadow: 0 0 4px rgba(0,0,0,.2);
    min-height: 45px;
    background:#ffffff;
    z-index: 99999;
}

#logo,#topBarOptions{
    height:45px;
}

#topBarOptions{
    border-left:1px solid #F2F2F2;
    border-right:1px solid #F2F2F2;
    width:50px;
    cursor:pointer;
}

#topBarOptions .nav-icon{
    width: 16px;
    height: 16px;
    display: block;
    background: url(../images/menu_sprite.png) 0 0 no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -8px 0 0 -8px;
}

#topBarOptions .arrow{
    background: url(../images/menu_sprite.png) 0 -50px no-repeat;
    width: 8px;
    height: 8px;
    position: absolute;
    right: 0;
    bottom: 0;
}

#topBarOptions .menu{
    background: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    position: absolute;
    left: -1px;
    top: 56px;
    width: 721px;
    text-align: left;
    border-radius: 3px;
    cursor: default;
}
#topBarOptions .menu-uparrow{
    width: 18px;
    height: 10px;
    position: absolute;
    left: 19px;
    top: -9px;
    background: url(../images/menu_arrow.png) 0 0 no-repeat;
}
#topBarSearch,#topBarUser .login-reg{
    padding-top: 5px;
}

#topBarUser .topbar-userinfo{
    display: none;
}

#topBarUser .topbar-userinfo-avatar{
    width:40px;
    height:40px;
    margin:0px 5px;
}

#topBarUser .topbar-userinfo-name{
    display:inline-block;
    line-height:45px;
    border-left:1px solid #F2F2F2;
    font-size:0.625em;
}

#content{
    min-height:70%;
    _height:70%;
}
.bodyMask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,.93);
    z-index: 99990;
    display:none;
}
.loginPanel{
    position: fixed;
    top: 45px;
    left: 50%;
    margin-left: -400px;
    z-index: 99991;
    display: none;
}

.loginPanel .sheet{
    position: relative;
    width:800px;
    margin: auto;
    box-shadow: inset 0 -1px 0 #FFF,0 1px 6px rgba(0,0,0,.3);
    -moz-box-shadow: inset 0 -1px 0 #FFF,0 1px 6px rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 -1px 0 #FFF,0 1px 6px rgba(0,0,0,.3);
    background-color: #fff9e2;
    border-bottom: 2px solid #efebda;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
}
.loginPanel .head{
    padding:15px;
    border-bottom: 1px solid #f6f4ee;
}
.loginPanel .body{
    padding:15px 10px;
}
.loginPanel h2,.loginPanel h5{
    padding:0px;
    margin:0px;
}
.loginPanel h2{
    font-size: 1.4em;
    text-align:center;
}
.loginPanel h5{
    margin-bottom: 14px;
    font-size: 14px;
    font-weight: 700;
    color: #444;
}
.loginPanel .loginConnect, .loginPanel .loginForm{
    width: 389px;
    height: 200px;
    float: left;
    padding: 10px 20px;
}
.loginPanel .error-msg{
    display:none;
    padding-top: 7px;
}
.clearLeftPadding{
    padding-left: 0;
}
#registerPanel .loginConnect,#registerPanel .loginForm{
    height: 260px;
}
.loginPanel .loginConnect{
    border-right: 1px solid #f6f4ee;
}
.loginPanel .loginForm{
    border-left: 1px solid #fff;
}
.loginPanel a.closeBtn{
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    right: 5px;
    top: 5px;
    cursor:pointer;
    background: url(../images/sheet_close.gif) no-repeat 0 0;
}
.loginPanel a.closeBtn:hover{
    background: url(../images/sheet_close.gif) no-repeat 0 -60px;
}