html {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #cef0fc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #cef0fc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #cef0fc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #cef0fc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #cef0fc 100%);
  /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #cef0fc 100%);
  /* W3C */
  background-attachment: fixed;
}
body {
  font-family: Georgia, "Times New Roman", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
  font-size: 12px;
}
.input {
  padding: 5px 8px;
  font-size: 14px;
  color: #BBB;
  width: 140px;
  line-height: 16px;
  border: 1px solid #A0A0A0;
  border-radius: 3px;
}
.input:focus {
  border: 1px solid #A0A0A0;
  box-shadow: 0 0 8px #A0A0A0;
}
.required-warm {
  border: 1px solid #DD0000;
  box-shadow: 0 0 8px #DD0000;
}
.btn {
  text-align: center;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  min-width: 80px;
  position: relative;
  cursor: pointer;
  color: #515151;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.22);
  background: #f8f8f8;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8), color-stop(100%, #eaeaea));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
  /* IE10+ */
  background: linear-gradient(top, #f8f8f8 0%, #eaeaea 100%);
  /* W3C */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 1px 1px 1px rgba(255, 255, 255, 0.44);
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;
}
.btn:hover {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.29), inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.btn:active {
  -webkit-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.8);
}
