//
   Created with WebStorm.
   Author: ZhouZhongYu
   Date: 14-5-5
   Time: 下午5:09
   To change this template use File | Settings | File Templates.
extends ../layout/layout
append resources
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(type="text/javascript",src="/javascripts/func/index.js")
block content
