//
   Created with WebStorm.
   Author: ZhouZhongYu
   Date: 14-5-5
   Time: 下午5:09
   To change this template use File | Settings | File Templates.
extends ../layout/layout
append resources
    link(rel='stylesheet', href='/stylesheets/activity.css')
    script(type="text/javascript",src="/javascripts/func/activity.js")
block content
    div#act-form.form
        div.form-header
            span.left 我们去钓鱼吧
            span.right#create-people 发起人:XXX
        div.form-body
            div.group
                label(for="slogan") 宣言
                input#slogan(name='slogan').input
            div.group
                label(for="time") 时间
                input#time(name='time').input
            div.group
                label(for="address") 地点
                input#address(name='address').input
            div.group
                label(for="remark") 备注
                input#remark(name='remark').input
        div.form-footer
            span.btn 确定
            span.btn 重置
