doctype html
html
    head
        title #{title}
        block resources
            include ../include/resources
    body
        include ../include/navbar
        div.contentwarp
            block content
