doctype 5
html
    head
        title #{title}
        block resources
            include ../include/resources
    body
        div#container.container
            include ../include/navbar
            block content
